:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --headings-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 127.97px;
}
h2 {
  color: var(--headings-color);
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  margin: 0;
}
h3 {
  color: var(--headings-color);
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
  line-height: 86px;
  color: black;
}

p {
  color: black;
  font-family: var(--default-font-family);
  font-weight: normal;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142b2;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.btn-branding {
  border-radius: 4px;
  background: var(--branding-color);
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  text-decoration: none;
  padding: 18px 30px;
}
.btn-branding:hover {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  transition: 0.25s;
}
.homepage-paragraph {
  color: var(--headings-color);
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.project-list p {
  color: #272142b2;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 16px;
  line-height: 24px;
  font-size: var(--default-font-family);
  font-weight: normal;
  padding: 15px 30px;
}
.btn-branding-outline:hover {
  border-radius: 4px;
  background: var(--branding-color);
  color: white;
  transition: 0.25s;
}
.project-description {
  padding: 60px 40px 160px 40px;
}
.content-container {
  padding: 40px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: black;
}
.content h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: black;
  text-align: start;
}
.content h3 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: black;
  margin: 0;
}
.content p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  opacity: 70%;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer h4 {
  font-size: 48px;
  line-height: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}
footer p {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
  font-weight: normal;
  color: black;
  opacity: 70%;
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
a.link {
  color: var(--branding-color);
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  nav a {
    font-size: 12px;
  }
  h1,
  .content h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h4 {
    font-size: 42px;
    line-height: 1.5;
  }
  .content-container h2 {
    text-align: center;
  }
  .project-description {
    padding: 0px 20px 0px 20px;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-container {
    padding: 0 20px;
    text-align: center;
  }
  .profile-pic {
    max-width: 300px;
    margin: 0 auto;
  }
  footer .email-link {
    font-size: 22px;
  }
}
